---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Skills from "@components/home/Skills.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 md:flex-row container">
        <Hero name={info.name} about={info.about} />
        <img
          class="hero-img"
          width="480"
          height="620"
          sizes="(min-width: 1180px) 480px, (min-width: 780px)  calc(28.13vw + 171px), (min-width: 580px) 480px, calc(93.85vw - 46px)"
          srcset="
            ../../assets/images/face_qvg5yi_c_scale,w_200.jpg 200w,
            ../../assets/images/face_qvg5yi_c_scale,w_647.jpg 647w,
            ../../assets/images/face_qvg5yi_c_scale,w_941.jpg 941w,
            ../../assets/images/face_qvg5yi_c_scale,w_1243.jpg 1243w,
            ../../assets/images/face_qvg5yi_c_scale,w_1400.jpg 1400w"
          src=" ../../assets/images/face_qvg5yi_c_scale,w_1400.jpg"
          alt="Daniel's face with rocks in background"
        />
      </div>

      <!-- Not using yet -->
      <!-- <Experience title={"EXPERIENCE"} details={info.experience} /> -->

      <Experience title={"EDUCATION"} details={info.education} />
      <Skills title={"SKILLS"} details={info.skill} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>

<style>
.hero-img {
  aspect-ratio: 4 / 4;
  object-fit: cover;
  object-position: bottom-left;
  border-radius: 1rem;
  box-shadow:var(--shadow-md);
}

@media (min-width: 768px) {
    .hero-img {
        aspect-ratio: 5/4;
        object-fit: cover;
        object-position: bottom-left;
    }
}
</style>